# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native build outputs
android/
ios/
*.apk
*.aab
*.ipa

# Secrets & keys
google-service-account.json
*.keystore
*.jks

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
*.pem

# Editor
.vscode/
.idea/
*.swp
*.swo
